<!doctype html>
<html lang="en">
<head>
   <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="description" content="<%= @webpage.meta_des %>">

   	<link rel="shortcut icon" href="/favicon.ico">
   	<meta name="apple-mobile-web-app-title" content="GroUp Development">
   	<link rel="mask-icon" href="mask-icon.svg" color="#E53333">
   	<link rel="apple-touch-icon" href="/apple-touch-icon.png">	
   	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
   	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
   	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
   	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
   	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
   	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
   	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
   	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
   	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
   	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
   	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
   	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
   	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
   	<link rel="manifest" href="/manifest.json">
   	<meta name="msapplication-TileColor" content="#ffffff">
   	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
   	<meta name="theme-color" content="#ffffff">

   <!--<title><%= @webpage.meta_key %></title>-->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  
  <link href="stylesheets/layout.css" rel="stylesheet" type="text/css">
  <link href="stylesheets/ninja-slider.css" rel="stylesheet" type="text/css">
  <link href="stylesheets/owl.carousel.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:400,700" rel="stylesheet"> 

  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/parallax.js"></script>
  <script src="javascripts/ninja-slider.js"></script>
  <script src="javascripts/owl.carousel.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/parallax.js"></script>

  <!-- google analytics code for website
  <% if !@website.web_analytics_id.blank? %>
    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= @website.web_analytics_id %>', 'auto');
      ga('send', 'pageview');

    </script>
  <% end %>
   -->
  <!-- GA code for webpage ends -->
  <!-- Full Tracking code for website
  <% if !@website.full_website_code.blank? %>
    <%= @website.full_website_code.html_safe %>
     -->
    <!-- Full Tracking code for website ENDS 
  <% end %>
   -->
  <!-- Full Tracking code for webpage 
  <% if !@webpage.full_tracking_code.blank? %>
    <%= @webpage.full_tracking_code.html_safe %>
    <!-- Full Tracking code for webpage ENDS 

  <% end %>
   -->
  <script src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body>
	<div class="container-fluid main-nav-container">
		<div class="row upper-nav">
			<div class="col-12 col-xl-9 offset-xl-3">
				<ul>
					<li>
						<span class="d-none d-lg-block">1551 Valley West Drive, West Des Moines, IA 50266</span>
						<span class="d-block d-lg-none"><span class="fas fa-map-marker-alt"></span></span>
					</li>
					<li>
						<span  class="d-none d-lg-block">Phone: <strong><a href="515-555-1212">515-555-1212</a></strong></span>
						<span class="d-block d-lg-none"><span class="fas fa-phone"></span></span> 
					</li>
					<li>
						<ul class="social">
							<li><a href=""><span class="fab fa-facebook-square"></span></a></li>
							<li><a href=""><span class="fab fa-twitter"></span></a></li>
							<li><a href=""><span class="fab fa-linkedin"></span></a></li>
							<li><a href=""><span class="fab fa-pinterest"></span></a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="row lower-nav">
			<div class="col-8 col-lg-3">
				<img src="images/logo.png" alt="GroUp Development" class="img-fluid logo">
			</div>
			<div class="col-4 col-lg-9">
				<ul class="main-nav d-none d-lg-block">
					<li><a href="">home</a></li>
					<li><a href="">portfolio</a></li>
					<li><a href="">about our team</a></li>
					<li><a href="">investor relations</a></li>
					<li><a href="">news</a></li>
					<li><a href="">contact</a></li>
				</ul>
				<div class="mobile-nav-btn">
					<div class="bar top-bar"></div>
					<div class="bar mid-bar"></div>
					<div class="bar low-bar"></div>
				</div>
				<script>
					$(document).ready(function(){
						var mobiBtn = $('.mobile-nav-btn');
						var top = $('.top-bar');
						var mid = $('.mid-bar');
						var low = $('.low-bar');
						var isOpen = '';
						mobiBtn.click(function(){
							if(isOpen<2){
								top.addClass('topDown');
								top.removeClass('topUp');
								mid.addClass('midOut');
								mid.removeClass('midIn');
								low.addClass('lowUp');
								low.removeClass('lowDown');
								$('.mobi-nav-container').show();
								$('.lower-nav').addClass('darken');
								isOpen++;
							}else{
								top.addClass('topUp');
								top.removeClass('topDown');
								mid.addClass('midIn');
								mid.removeClass('midOut');
								low.addClass('lowDown');
								low.removeClass('lowUp');
								$('.mobi-nav-container').slideUp();
								$('.lower-nav').removeClass('darken');
								isOpen--;
							}
						});
					});
				</script>
			</div>
			<div class="mobi-nav-container">
				<p><a href="">Home</a></p>
				<p><a href="">portfolio</a></p>
				<p><a href="">about our team</a></p>
				<p><a href="">investor relations</a></p>
				<p><a href="">news</a></p>
				<p><a href="">contact</a></p>
			</div>
		</div>
	</div>
	
	<div class="container-fluid sub-hero-container">
		<div class="hero-banner">
			<img src="images/hero/detail-hero.jpg" alt="GroUp Development Protfolio" class="banner">
			<div class="hero-text-container">
				<div class="row">
					<div class="col-10 offset-1">
						<div class="page-title">
							<div class="row">
								<div class="col-12">
									<div class="back-link">
										<a href=""><span class="fas fa-angle-left"></span> back to portfolio</a>
									</div>
									<div class="mega-text">
										Property Name
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid content-container">
		<div class="row">
			<div class="col-10 offset-1">
				<div class="content">
					<div class="gallery-container">
						<div class="next-container">
							<div class="next"><span class="fas fa-chevron-right"></span></div>
						</div>
						<div class="prev-container">
							<div class="prev"><span class="fas fa-chevron-left"></span></div>
						</div>
						<div class="gallery-carousel owl-carousel">
							<div class="item show-modal">
								<img src="images/detail-gallery/image1.jpg">
							</div>
							<div class="item show-modal">
								<img src="images/detail-gallery/image2.jpg">
							</div>
							<div class="item show-modal">
								<img src="images/detail-gallery/image3.jpg">
							</div>
						</div>
					</div>
					
					<div class="row property-details">
						<div class="col-12 col-lg-5 offset-lg-1">
							<h3>Floor Plans / Main Level</h3>
							<img src="images/floor-plans/main-level.jpg" class="img-fluid gray-img plan-img">
							<h3>Floor Plans / Lower Level</h3>
							<img src="images/floor-plans/lower-level.jpg" class="img-fluid gray-img plan-img">
						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<a href=""><div class="black-btn"><span class="fas fa-file-pdf"></span> Download details and spec sheet</div></a>
							<h3>Structural Overview and Exterior Finishes</h3>
							<ul class="detail-list">
								<li>9’ Concrete Basement Walls</li>
								<li>2’x6” Exterior Wall Framing with R-19 insulation; R-48 Attic Blow</li>
								<li>Engineered I-Joist Floor System, 11 7/8”</li>
								<li>¾” Advantech Subfloor System (Glued &amp; Secured Down)</li>
								<li>6” LP Smartside Siding - Board and Batten Siding and “Stucco Board”</li>
								<li>Tyvek Residential Wrap</li>
								<li>Three Paint Colors on Sides and Rear of home.</li>
								<li>Pella “Proline Windows and Sliding Door(s) 6’ 9”- Colors to be Putty, Brown, Poplar White and Portobello (see attached) Front Door from Pella - Paint Grade 6’ 8” with Side Lights Collection</li>
								<li>Solid 8"x8" Rough Sawn Cedar Columns “Fypon” 8”x8”x6” brackets and “Fypon” 14”x30”x7” Brackets</li>
								<li>“Timbertech” Composite Deck Material with Black “Westberry” Railing</li>
								<li>Stone Veneer to be “Virginia Ledge Stone”, Realstone</li>
								<li>Siding and Trim Color Combinations from Sherwin-Williams (see attached)</li>
								<li>Garage Doors Selected from Wayne Dalton Door - Model 9700 Series with no Windows (see attached)</li>
								<li>Garage Door Openers and Keypad </li>
								<li>Roof Shingles to be O.C. Duration 50 Year Asphalt Shingles in Three Colors; Driftwood, Quarry Grey &amp; Estate Grey</li>
								<li>Lower Level Framed for Future Two Bedrooms, Bath and Rec Room</li>
								<li>4” Gutters w/3” Down Spouts</li>
							</ul>
							<h3>Electrical &amp; Technology</h3>
							<ul class="detail-list">
								<li>9’ Concrete Basement Walls</li>
								<li>2’x6” Exterior Wall Framing with R-19 insulation; R-48 Attic Blow</li>
								<li>Engineered I-Joist Floor System, 11 7/8”</li>
								<li>¾” Advantech Subfloor System (Glued &amp; Secured Down)</li>
								<li>6” LP Smartside Siding - Board and Batten Siding and “Stucco Board”</li>
								<li>Pella “Proline Windows and Sliding Door(s) 6’ 9”- Colors to be Putty, Brown, Poplar White and Portobello (see attached) Front Door from Pella - Paint Grade 6’ 8” with Side Lights Collection</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="g-modal-container">
		<div class="g-modal-content">
			<div class="g-modal-close"><span class="fas fa-times-circle"></span></div>
			<div class="g-prev"><span class="fas fa-chevron-left"></span></div>
			<div class="g-next"><span class="fas fa-chevron-right"></span></div>
			<div class="g-carousel owl-carousel">
				<div class="item">
					<img src="images/detail-gallery/image1.jpg">
				</div>
				<div class="item">
					<img src="images/detail-gallery/image2.jpg">
				</div>
				<div class="item">
					<img src="images/detail-gallery/image3.jpg">
				</div>
			</div>
		</div>
		<div class="g-modal-bg"></div>
	</div>
	
	<div class="container-fluid footer-links">
		<div class="row">
			<div class="col-12">
				<ul>
					<li><a href="">home</a></li>
					<li><a href="">portfolio</a></li>
					<li><a href="">about our team</a></li>
					<li><a href="">investor relations</a></li>
					<li><a href="">news</a></li>
					<li><a href="">contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="container-fluid footer-bottom">
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-3 offset-lg-1">
				1551 Valley West Drive<br>
				West Des Moines, IA 50266
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				Phone: <a href="515-555-1212">515-555-1212</a><br>
				Fax: 515-555-2121
			</div>
			<div class="col-12 col-lg-5 footer-social">
				<ul>
					<li><a href=""><span class="fab fa-facebook-square"></span></a></li>
					<li><a href=""><span class="fab fa-twitter"></span></a></li>
					<li><a href=""><span class="fab fa-linkedin"></span></a></li>
					<li><a href=""><span class="fab fa-pinterest"></span></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<div class="copy">
					Copyright &copy; 2018 GroUp Development, Inc.
				</div>
			</div>
		</div>
	</div>
	
	<script src="javascripts/synced.js"></script>
</body>
</html>