<!doctype html>
<html lang="en">
<head>
   <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="description" content="<%= @webpage.meta_des %>">

   	<link rel="shortcut icon" href="/favicon.ico">
   	<meta name="apple-mobile-web-app-title" content="GroUp Development">
   	<link rel="mask-icon" href="mask-icon.svg" color="#E53333">
   	<link rel="apple-touch-icon" href="/apple-touch-icon.png">	
   	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
   	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
   	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
   	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
   	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
   	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
   	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
   	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
   	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
   	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
   	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
   	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
   	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
   	<link rel="manifest" href="/manifest.json">
   	<meta name="msapplication-TileColor" content="#ffffff">
   	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
   	<meta name="theme-color" content="#ffffff">

   <!--<title><%= @webpage.meta_key %></title>-->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  
  <link href="stylesheets/layout.css" rel="stylesheet" type="text/css">
  <link href="stylesheets/owl.carousel.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:400,700" rel="stylesheet"> 

  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/parallax.js"></script>
  <script src="javascripts/owl.carousel.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/parallax.js"></script>

  <!-- google analytics code for website
  <% if !@website.web_analytics_id.blank? %>
    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= @website.web_analytics_id %>', 'auto');
      ga('send', 'pageview');

    </script>
  <% end %>
   -->
  <!-- GA code for webpage ends -->
  <!-- Full Tracking code for website
  <% if !@website.full_website_code.blank? %>
    <%= @website.full_website_code.html_safe %>
     -->
    <!-- Full Tracking code for website ENDS 
  <% end %>
   -->
  <!-- Full Tracking code for webpage 
  <% if !@webpage.full_tracking_code.blank? %>
    <%= @webpage.full_tracking_code.html_safe %>
    <!-- Full Tracking code for webpage ENDS 

  <% end %>
   -->
  <script src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body>
	<div class="container-fluid main-nav-container">
		<div class="row upper-nav">
			<div class="col-12 col-xl-9 offset-xl-3">
				<ul>
					<li>
						<span class="d-none d-lg-block">1551 Valley West Drive, West Des Moines, IA 50266</span>
						<span class="d-block d-lg-none"><span class="fas fa-map-marker-alt"></span></span>
					</li>
					<li>
						<span  class="d-none d-lg-block">Phone: <strong><a href="515-555-1212">515-555-1212</a></strong></span>
						<span class="d-block d-lg-none"><span class="fas fa-phone"></span></span> 
					</li>
					<li>
						<ul class="social">
							<li><a href=""><span class="fab fa-facebook-square"></span></a></li>
							<li><a href=""><span class="fab fa-twitter"></span></a></li>
							<li><a href=""><span class="fab fa-linkedin"></span></a></li>
							<li><a href=""><span class="fab fa-pinterest"></span></a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="row lower-nav">
			<div class="col-8 col-lg-3">
				<img src="images/logo.png" alt="GroUp Development" class="img-fluid logo">
			</div>
			<div class="col-4 col-lg-9">
				<ul class="main-nav d-none d-lg-block">
					<li><a href="">home</a></li>
					<li><a href="">portfolio</a></li>
					<li><a href="">about our team</a></li>
					<li><a href="">investor relations</a></li>
					<li><a href="">news</a></li>
					<li><a href="">contact</a></li>
				</ul>
				<div class="mobile-nav-btn">
					<div class="bar top-bar"></div>
					<div class="bar mid-bar"></div>
					<div class="bar low-bar"></div>
				</div>
				<script>
					$(document).ready(function(){
						var mobiBtn = $('.mobile-nav-btn');
						var top = $('.top-bar');
						var mid = $('.mid-bar');
						var low = $('.low-bar');
						var isOpen = '';
						mobiBtn.click(function(){
							if(isOpen<2){
								top.addClass('topDown');
								top.removeClass('topUp');
								mid.addClass('midOut');
								mid.removeClass('midIn');
								low.addClass('lowUp');
								low.removeClass('lowDown');
								$('.mobi-nav-container').show();
								$('.lower-nav').addClass('darken');
								isOpen++;
							}else{
								top.addClass('topUp');
								top.removeClass('topDown');
								mid.addClass('midIn');
								mid.removeClass('midOut');
								low.addClass('lowDown');
								low.removeClass('lowUp');
								$('.mobi-nav-container').slideUp();
								$('.lower-nav').removeClass('darken');
								isOpen--;
							}
						});
					});
				</script>
			</div>
			<div class="mobi-nav-container">
				<p><a href="">Home</a></p>
				<p><a href="">portfolio</a></p>
				<p><a href="">about our team</a></p>
				<p><a href="">investor relations</a></p>
				<p><a href="">news</a></p>
				<p><a href="">contact</a></p>
			</div>
		</div>
	</div>
	
	<div class="container-fluid sub-hero-container">
		<div class="hero-banner">
			<img src="images/hero/sub-hero.jpg" alt="GroUp Development Protfolio" class="banner">
			<div class="hero-text-container">
				<div class="row">
					<div class="col-10 offset-1">
						<div class="page-title">
							<div class="row">
								<div class="col-12">
									<div class="mega-text">
										Portfolio
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid content-container">
		<div class="row">
			<div class="col-10 offset-1">
				<div class="content">
					<div class="map-container">
						<div id="map"></div>
						<script>
							var map;
							  function initMap() {
								map = new google.maps.Map(document.getElementById('map'), {
								  zoom: 11,
								  center: new google.maps.LatLng(41.61631,-93.668051),
								  mapTypeId: 'roadmap',
								  styles: [{"featureType":"all","elementType":"all","stylers":[{"saturation":-100},{"gamma":0.5}]}]
								});

								var iconBase = 'images/markers/';
								var icons = {
								  lots: {
									icon: iconBase + 'blue.png'
								  },
								  forSale: {
									icon: iconBase + 'orange.png'
								  },
								  forRent: {
									icon: iconBase + 'green.png'
								  }
								};

								var features = [
								  {
									position: new google.maps.LatLng(41.613923, -93.815853),
									type: 'lots'
								  }, {
									position: new google.maps.LatLng(41.632894, -93.695931),
									type: 'lots'
								  }, {
									position: new google.maps.LatLng(41.635306, -93.760276),
									type: 'forSale'
								  }, {
									position: new google.maps.LatLng(41.624362, -93.603064),
									type: 'forSale'
								  }, {
									position: new google.maps.LatLng(41.655648, -93.532939),
									type: 'forRent'
								  }, {
									position: new google.maps.LatLng(41.579958, -93.698580),
									type: 'forRent'
								  }
								];
								// Create markers.
								features.forEach(function(feature) {
								  var marker = new google.maps.Marker({
									position: feature.position,
									icon: icons[feature.type].icon,
									map: map
								  });
								});
							  }


						</script>
						<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWraLccH6kCNiV5fIwZYffIZyuIGlYi_Y&callback=initMap"></script>
					</div>
					<div class="legend">
						<ul>
							<li class="active all">all</li>
							<li class="lots">Lots for sale</li>
							<li class="for-sale">Properties for sale</li>
							<li class="for-rent">Properties for rent</li>
						</ul>
					</div>
					<div class="properties">
						<div class="row">
							<div class="col-12 col-lg-4 offset-lg-half">
								<div class="property-type">
									<h3 class="lots">lots for sale</h3>
								</div>
								<div class="property-list">
									<ul>
										<li>
											<a href="">Property Development Name</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
										<li>
											<a href="">Property Development Name</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
										<li>
											<a href="">Property Development Name</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
										<li>
											<a href="">Property Development Name</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-12 col-lg-4">
								<div class="property-type">
									<h3 class="for-sale">properties for sale</h3>
								</div>
								<div class="property-list">
									<ul>
										<li>
											<a href="">123 Main Street</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
										<li>
											<a href="">123 Main Street</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
										<li>
											<a href="">123 Main Street</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
										<li>
											<a href="">123 Main Street</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-12 col-lg-3">
								<div class="property-type">
									<h3 class="for-rent">properties for rent</h3>
								</div>
								<div class="property-list">
									<ul>
										<li>
											<a href="">123 Main Street</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
										<li>
											<a href="">123 Main Street</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
										<li>
											<a href="">123 Main Street</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
										<li>
											<a href="">123 Main Street</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid footer-links">
		<div class="row">
			<div class="col-12">
				<ul>
					<li><a href="">home</a></li>
					<li><a href="">portfolio</a></li>
					<li><a href="">about our team</a></li>
					<li><a href="">investor relations</a></li>
					<li><a href="">news</a></li>
					<li><a href="">contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="container-fluid footer-bottom">
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-3 offset-lg-1">
				1551 Valley West Drive<br>
				West Des Moines, IA 50266
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				Phone: <a href="515-555-1212">515-555-1212</a><br>
				Fax: 515-555-2121
			</div>
			<div class="col-12 col-lg-5 footer-social">
				<ul>
					<li><a href=""><span class="fab fa-facebook-square"></span></a></li>
					<li><a href=""><span class="fab fa-twitter"></span></a></li>
					<li><a href=""><span class="fab fa-linkedin"></span></a></li>
					<li><a href=""><span class="fab fa-pinterest"></span></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<div class="copy">
					Copyright &copy; 2018 GroUp Development, Inc.
				</div>
			</div>
		</div>
	</div>
</body>
</html>