<!doctype html>
<html lang="en">
<head>
   <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="description" content="<%= @webpage.meta_des %>">

   	<link rel="shortcut icon" href="/favicon.ico">
   	<meta name="apple-mobile-web-app-title" content="GroUp Development">
   	<link rel="mask-icon" href="mask-icon.svg" color="#E53333">
   	<link rel="apple-touch-icon" href="/apple-touch-icon.png">	
   	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
   	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
   	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
   	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
   	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
   	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
   	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
   	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
   	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
   	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
   	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
   	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
   	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
   	<link rel="manifest" href="/manifest.json">
   	<meta name="msapplication-TileColor" content="#ffffff">
   	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
   	<meta name="theme-color" content="#ffffff">

   <!--<title><%= @webpage.meta_key %></title>-->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  
  <link href="stylesheets/layout.css" rel="stylesheet" type="text/css">
  <link href="stylesheets/owl.carousel.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:400,700" rel="stylesheet"> 

  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/parallax.js"></script>
  <script src="javascripts/owl.carousel.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/parallax.js"></script>

  <!-- google analytics code for website
  <% if !@website.web_analytics_id.blank? %>
    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= @website.web_analytics_id %>', 'auto');
      ga('send', 'pageview');

    </script>
  <% end %>
   -->
  <!-- GA code for webpage ends -->
  <!-- Full Tracking code for website
  <% if !@website.full_website_code.blank? %>
    <%= @website.full_website_code.html_safe %>
     -->
    <!-- Full Tracking code for website ENDS 
  <% end %>
   -->
  <!-- Full Tracking code for webpage 
  <% if !@webpage.full_tracking_code.blank? %>
    <%= @webpage.full_tracking_code.html_safe %>
    <!-- Full Tracking code for webpage ENDS 

  <% end %>
   -->
  <script src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body>
	<div class="container-fluid main-nav-container">
		<div class="row upper-nav">
			<div class="col-12 col-xl-9 offset-xl-3">
				<ul>
					<li>
						<span class="d-none d-lg-block">1551 Valley West Drive, West Des Moines, IA 50266</span>
						<span class="d-block d-lg-none"><span class="fas fa-map-marker-alt"></span></span>
					</li>
					<li>
						<span  class="d-none d-lg-block">Phone: <strong><a href="515-555-1212">515-555-1212</a></strong></span>
						<span class="d-block d-lg-none"><span class="fas fa-phone"></span></span> 
					</li>
					<li>
						<ul class="social">
							<li><a href=""><span class="fab fa-facebook-square"></span></a></li>
							<li><a href=""><span class="fab fa-twitter"></span></a></li>
							<li><a href=""><span class="fab fa-linkedin"></span></a></li>
							<li><a href=""><span class="fab fa-pinterest"></span></a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="row lower-nav">
			<div class="col-8 col-lg-3">
				<img src="images/logo.png" alt="GroUp Development" class="img-fluid logo">
			</div>
			<div class="col-4 col-lg-9">
				<ul class="main-nav d-none d-lg-block">
					<li><a href="">home</a></li>
					<li><a href="">portfolio</a></li>
					<li><a href="">about our team</a></li>
					<li><a href="">investor relations</a></li>
					<li><a href="">news</a></li>
					<li><a href="">contact</a></li>
				</ul>
				<div class="mobile-nav-btn">
					<div class="bar top-bar"></div>
					<div class="bar mid-bar"></div>
					<div class="bar low-bar"></div>
				</div>
				<script>
					$(document).ready(function(){
						var mobiBtn = $('.mobile-nav-btn');
						var top = $('.top-bar');
						var mid = $('.mid-bar');
						var low = $('.low-bar');
						var isOpen = '';
						mobiBtn.click(function(){
							if(isOpen<2){
								top.addClass('topDown');
								top.removeClass('topUp');
								mid.addClass('midOut');
								mid.removeClass('midIn');
								low.addClass('lowUp');
								low.removeClass('lowDown');
								$('.mobi-nav-container').show();
								$('.lower-nav').addClass('darken');
								isOpen++;
							}else{
								top.addClass('topUp');
								top.removeClass('topDown');
								mid.addClass('midIn');
								mid.removeClass('midOut');
								low.addClass('lowDown');
								low.removeClass('lowUp');
								$('.mobi-nav-container').slideUp();
								$('.lower-nav').removeClass('darken');
								isOpen--;
							}
						});
					});
				</script>
			</div>
			<div class="mobi-nav-container">
				<p><a href="">Home</a></p>
				<p><a href="">portfolio</a></p>
				<p><a href="">about our team</a></p>
				<p><a href="">investor relations</a></p>
				<p><a href="">news</a></p>
				<p><a href="">contact</a></p>
			</div>
		</div>
	</div>
	
	<div class="container-fluid hero-banner-container">
		<div class="hero-banner">
			<img src="images/hero/banner-1.jpg" alt="GroUp Development Protfolio" class="banner">
			<div class="hero-text-container">
				<div class="hero-text">
					<div class="mega-text">
						where dreams come home
					</div>
					<a href="" class="clear-btn">view our portfolio</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid callout-container">
		<div class="row">
			<div class="col-12 col-md-4 callout-box">
				<div class="callout">
					<img src="images/callouts/callout-1.jpg" class="callout-bg" alt="Lots for sale">
					<div class="callout-text">
						<div class="callout-title">
							lots for sale
						</div>
						<a href="" class="clear-btn">view our communities</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 callout-box">
				<div class="callout">
					<img src="images/callouts/callout-2.jpg" class="callout-bg" alt="Home Development">
					<div class="callout-text">
						<div class="callout-title">
							home development
						</div>
						<a href="" class="clear-btn">view our homes</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 callout-box">
				<div class="callout">
					<img src="images/callouts/callout-3.jpg" class="callout-bg" alt="Rental Properties">
					<div class="callout-text">
						<div class="callout-title">
							rental properties
						</div>
						<a href="" class="clear-btn">view available rentals</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid news-section">
		<div class="row">
			<div class="col-12 text-center">
				<h1>news</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1">
				<div class="news-container">
					<div class="custom-nav">
						<div class="prev"><img src="images/prev.png" alt="Previous Slide"></div>
						<div class="next"><img src="images/next.png" alt="Next Slide"></div>
					</div>
					<div class="news-carousel owl-carousel">
						<div class="item">
							<img src="images/news/article-1.jpg" alt="Apartments in Waukee">
							<div class="teaser">
								<h3>apartments in waukee, IA</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum augue nisi, ultrices sed elit id, vehicula porttitor lorem.</p>
								<p><a href="" class="more-link">Learn More <span class="fas fa-chevron-right"></span></a></p>
							</div>
						</div>
						<div class="item">
							<img src="images/news/article-2.jpg" alt="New lots available in Ankeny">
							<div class="teaser">
								<h3>New lots available in Ankeny</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum augue nisi, ultrices sed elit id, vehicula porttitor lorem.</p>
								<p><a href="" class="more-link">Learn More <span class="fas fa-chevron-right"></span></a></p>
							</div>
						</div>
						<div class="item">
							<img src="images/news/article-3.jpg" alt="Our commitment to community">
							<div class="teaser">
								<h3>Our commitment to community</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum augue nisi, ultrices sed elit id, vehicula porttitor lorem.</p>
								<p><a href="" class="more-link">Learn More <span class="fas fa-chevron-right"></span></a></p>
							</div>
						</div>
						<div class="item">
							<img src="images/news/article-4.jpg" alt="Apartments in Norwalk, IA">
							<div class="teaser">
								<h3>Apartments in Norwalk, IA</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum augue nisi, ultrices sed elit id, vehicula porttitor lorem.</p>
								<p><a href="" class="more-link">Learn More <span class="fas fa-chevron-right"></span></a></p>
							</div>
						</div>
						<div class="item">
							<img src="images/news/article-2.jpg" alt="New lots available in Ankeny">
							<div class="teaser">
								<h3>New lots available in Ankeny</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum augue nisi, ultrices sed elit id, vehicula porttitor lorem.</p>
								<p><a href="" class="more-link">Learn More <span class="fas fa-chevron-right"></span></a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<a href="" class="clear-btn">view more news</a>
			</div>
		</div>
		<script>
			$(document).ready(function(){
				newsCarousel = $('.news-carousel');
				newsCarousel.owlCarousel({
					autoplay: true,
					nav:false,
					loop: false,
					responsive:{
						0:{
							items: 1,
							margin: 0,
						},
						768:{
							items: 2,
							margin: 40,
						},
						992:{
							items: 3,
							margin: 40,
						},
						1200:{
							items: 4,
							margin: 40,
						}
					}
				});
				$('.prev').click(function(){
					newsCarousel.trigger('prev.owl.carousel');
				});
				$('.next').click(function(){
					newsCarousel.trigger('next.owl.carousel');
				});
			});
		</script>
	</div>
	
	<div class="container-fluid seo-container">
		<div class="row">
			<div class="col-12 col-lg-6 offset-lg-1">
				<h1>About GroUp Development</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum augue nisi, ultrices sed elit id, vehicula porttitor lorem. Vivamus tempor in sapien quis auctor. Sed faucibus metus et tortor cursus molestie vel sed neque. Cras quis vulputate nibh, eu commodo turpis. Ut eu egestas tortor. Donec porttitor non felis dapibus condimentum. Vestibulum convallis urna sed interdum rutrum. Suspendisse condimentum fermentum ex vel imperdiet. Nulla eu pharetra urna. Proin elit sapien, semper sed neque a, faucibus dignissim augue. Quisque molestie odio id dui euismod interdum. Quisque ac arcu ex.</p>
				<p><a href="" class="clear-btn">Read more about us</a></p>
			</div>
		</div>
	</div>
	
	<div class="container-fluid footer-links">
		<div class="row">
			<div class="col-12">
				<ul>
					<li><a href="">home</a></li>
					<li><a href="">portfolio</a></li>
					<li><a href="">about our team</a></li>
					<li><a href="">investor relations</a></li>
					<li><a href="">news</a></li>
					<li><a href="">contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="container-fluid footer-bottom">
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-3 offset-lg-1">
				1551 Valley West Drive<br>
				West Des Moines, IA 50266
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				Phone: <a href="515-555-1212">515-555-1212</a><br>
				Fax: 515-555-2121
			</div>
			<div class="col-12 col-lg-5 footer-social">
				<ul>
					<li><a href=""><span class="fab fa-facebook-square"></span></a></li>
					<li><a href=""><span class="fab fa-twitter"></span></a></li>
					<li><a href=""><span class="fab fa-linkedin"></span></a></li>
					<li><a href=""><span class="fab fa-pinterest"></span></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<div class="copy">
					Copyright &copy; 2018 GroUp Development, Inc.
				</div>
			</div>
		</div>
	</div>
</body>
</html>
