	<div class="container-fluid content-container">
		<div class="row">
			<div class="col-10 offset-1">
				<div class="content">
					<div class="gallery-container">
						<div class="next-container">
							<div class="next"><span class="fas fa-chevron-right"></span></div>
						</div>
						<div class="prev-container">
							<div class="prev"><span class="fas fa-chevron-left"></span></div>
						</div>
						<div class="gallery-carousel owl-carousel">
							<div class="item show-modal">
								<img src="/presents/group/designs/images/detail-gallery/image1.jpg">
							</div>
							<div class="item show-modal">
								<img src="/presents/group/designs/images/detail-gallery/image2.jpg">
							</div>
							<div class="item show-modal">
								<img src="/presents/group/designs/images/detail-gallery/image3.jpg">
							</div>
						</div>
					</div>
					
					<div class="row property-details">
						<div class="col-12 col-lg-5 offset-lg-1">
							<h3>Floor Plans / Main Level</h3>
							<img src="/presents/group/designs/images/floor-plans/main-level.jpg" class="img-fluid gray-img plan-img">
							<h3>Floor Plans / Lower Level</h3>
							<img src="/presents/group/designs/images/floor-plans/lower-level.jpg" class="img-fluid gray-img plan-img">
						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<a href=""><div class="black-btn"><span class="fas fa-file-pdf"></span> Download details and spec sheet</div></a>
							<h3>Structural Overview and Exterior Finishes</h3>
							<ul class="detail-list">
								<li>9’ Concrete Basement Walls</li>
								<li>2’x6” Exterior Wall Framing with R-19 insulation; R-48 Attic Blow</li>
								<li>Engineered I-Joist Floor System, 11 7/8”</li>
								<li>¾” Advantech Subfloor System (Glued &amp; Secured Down)</li>
								<li>6” LP Smartside Siding - Board and Batten Siding and “Stucco Board”</li>
								<li>Tyvek Residential Wrap</li>
								<li>Three Paint Colors on Sides and Rear of home.</li>
								<li>Pella “Proline Windows and Sliding Door(s) 6’ 9”- Colors to be Putty, Brown, Poplar White and Portobello (see attached) Front Door from Pella - Paint Grade 6’ 8” with Side Lights Collection</li>
								<li>Solid 8"x8" Rough Sawn Cedar Columns “Fypon” 8”x8”x6” brackets and “Fypon” 14”x30”x7” Brackets</li>
								<li>“Timbertech” Composite Deck Material with Black “Westberry” Railing</li>
								<li>Stone Veneer to be “Virginia Ledge Stone”, Realstone</li>
								<li>Siding and Trim Color Combinations from Sherwin-Williams (see attached)</li>
								<li>Garage Doors Selected from Wayne Dalton Door - Model 9700 Series with no Windows (see attached)</li>
								<li>Garage Door Openers and Keypad </li>
								<li>Roof Shingles to be O.C. Duration 50 Year Asphalt Shingles in Three Colors; Driftwood, Quarry Grey &amp; Estate Grey</li>
								<li>Lower Level Framed for Future Two Bedrooms, Bath and Rec Room</li>
								<li>4” Gutters w/3” Down Spouts</li>
							</ul>
							<h3>Electrical &amp; Technology</h3>
							<ul class="detail-list">
								<li>9’ Concrete Basement Walls</li>
								<li>2’x6” Exterior Wall Framing with R-19 insulation; R-48 Attic Blow</li>
								<li>Engineered I-Joist Floor System, 11 7/8”</li>
								<li>¾” Advantech Subfloor System (Glued &amp; Secured Down)</li>
								<li>6” LP Smartside Siding - Board and Batten Siding and “Stucco Board”</li>
								<li>Pella “Proline Windows and Sliding Door(s) 6’ 9”- Colors to be Putty, Brown, Poplar White and Portobello (see attached) Front Door from Pella - Paint Grade 6’ 8” with Side Lights Collection</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="g-modal-container">
		<div class="g-modal-content">
			<div class="g-modal-close"><span class="fas fa-times-circle"></span></div>
			<div class="g-prev"><span class="fas fa-chevron-left"></span></div>
			<div class="g-next"><span class="fas fa-chevron-right"></span></div>
			<div class="g-carousel owl-carousel">
				<div class="item">
					<img src="/presents/group/designs/images/detail-gallery/image1.jpg">
				</div>
				<div class="item">
					<img src="/presents/group/designs/images/detail-gallery/image2.jpg">
				</div>
				<div class="item">
					<img src="/presents/group/designs/images/detail-gallery/image3.jpg">
				</div>
			</div>
		</div>
		<div class="g-modal-bg"></div>
	</div>
	
	<div class="container-fluid contact-container">
		<div class="row">
			<div class="col-12 text-center">
				<h1>Want to know more about this property?</h1>
				<h3>Call us at <a href="tel:<%= @property.main_phone %>"><%= @property.main_phone %></a></h3>
				<h2>OR</h2>
				<a href="/contact-us" class="clear-btn">Contact us online</a>
			</div>
		</div>
	</div>