<%= render "includes/header" %>
<body>
	<%= render "includes/nav" %>
	
	<div class="container-fluid sub-hero-container">
		<% if !@webpage.main_img.blank? %>
			<div class="hero-banner">
				<img src="<%= @webpage.main_img.html_safe %>" class="banner">
				<div class="hero-text-container">
					<div class="row">
						<div class="col-10 offset-1">
							<div class="page-title">
								<div class="row">
									<div class="col-12">
										<div class="mega-text">
											Property Name
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	
	<%= yield %>
	
	<script src="/presents/group/designs/javascripts/synced.js"></script>
	
	<%= render "includes/footer" %>