<%= render "includes/header" %>
<body>
	<%= render "includes/nav" %>
	<div class="container-fluid hero-banner-container">
		<% desktop_banner = @website.active_in_position('bannerPosition-1') %>
		<% if !desktop_banner.blank? %>
			<div class="hero-banner owl-carousel">
				<% desktop_banner.each do |banner| %>
					<% if banner.new_window %>
						<% target = "_blank" %>
					<% else %>
						<% target = "_self" %>
					<% end %>
					<div class="item">
						<img src="<%= banner.media_url %>" alt="<%= banner.img_desc %>" class="banner">
						<div class="hero-text-container">
							<div class="hero-text">
								<div class="mega-text">
									<%= banner.overlay_text_1 %>
								</div>
								<a href="<%= banner.url %>" class="clear-btn" target="<%= target %>"><%= banner.overlay_text_2 %></a>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
	<script>
		$(document).ready(function(){
			heroCarousel = $('.hero-banner');
			heroCarousel.owlCarousel({
				autoplay: true,
				smartSpeed: 2500,
				nav:false,
				loop: true,
				items: 1,
				autoplayHoverPause: true,
			});
			$('.prev').click(function(){
				newsCarousel.trigger('prev.owl.carousel');
			});
			$('.next').click(function(){
				newsCarousel.trigger('next.owl.carousel');
			});
		});
	</script>
	
	<div class="container-fluid callout-container">
		<div class="row">
			<% callouts = @website.active_in_position('bannerPosition-1001') %>
			<% if !callouts.blank? %>
				<% callouts.each do |callout| %>
					<% if callout.new_window %>
						<% target = "_blank" %>
					<% else %>
						<% target = "_self" %>
					<% end %>
					<div class="col-12 col-md-4 callout-box">
						<div class="callout">
							<img src="<%= callout.media_url %>" class="callout-bg" alt="<%= callout.img_desc %>">
							<div class="callout-text">
								<div class="callout-title">
									<%= callout.overlay_text_1 %>
								</div>
								<a href="<%= callout.url %>" class="clear-btn"><%= callout.overlay_text_2 %></a>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
	
	<div class="container-fluid news-section">
		<div class="row">
			<div class="col-12 text-center">
				<h1>news</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1">
				<div class="news-container">
					<div class="custom-nav">
						<div class="prev"><img src="/presents/group/designs/images/prev.png" alt="Previous Slide"></div>
						<div class="next"><img src="/presents/group/designs/images/next.png" alt="Next Slide"></div>
					</div>
					<div class="news-carousel owl-carousel">
						<div class="item">
							<img src="/presents/group/designs/images/news/article-1.jpg" alt="Apartments in Waukee">
							<div class="teaser">
								<h3>apartments in waukee, IA</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum augue nisi, ultrices sed elit id, vehicula porttitor lorem.</p>
								<p><a href="" class="more-link">Learn More <span class="fas fa-chevron-right"></span></a></p>
							</div>
						</div>
						<div class="item">
							<img src="/presents/group/designs/images/news/article-2.jpg" alt="New lots available in Ankeny">
							<div class="teaser">
								<h3>New lots available in Ankeny</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum augue nisi, ultrices sed elit id, vehicula porttitor lorem.</p>
								<p><a href="" class="more-link">Learn More <span class="fas fa-chevron-right"></span></a></p>
							</div>
						</div>
						<div class="item">
							<img src="/presents/group/designs/images/news/article-3.jpg" alt="Our commitment to community">
							<div class="teaser">
								<h3>Our commitment to community</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum augue nisi, ultrices sed elit id, vehicula porttitor lorem.</p>
								<p><a href="" class="more-link">Learn More <span class="fas fa-chevron-right"></span></a></p>
							</div>
						</div>
						<div class="item">
							<img src="/presents/group/designs/images/news/article-4.jpg" alt="Apartments in Norwalk, IA">
							<div class="teaser">
								<h3>Apartments in Norwalk, IA</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum augue nisi, ultrices sed elit id, vehicula porttitor lorem.</p>
								<p><a href="" class="more-link">Learn More <span class="fas fa-chevron-right"></span></a></p>
							</div>
						</div>
						<div class="item">
							<img src="/presents/group/designs/images/news/article-2.jpg" alt="New lots available in Ankeny">
							<div class="teaser">
								<h3>New lots available in Ankeny</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum augue nisi, ultrices sed elit id, vehicula porttitor lorem.</p>
								<p><a href="" class="more-link">Learn More <span class="fas fa-chevron-right"></span></a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<a href="" class="clear-btn">view more news</a>
			</div>
		</div>
		<script>
			$(document).ready(function(){
				newsCarousel = $('.news-carousel');
				newsCarousel.owlCarousel({
					autoplay: true,
					nav:false,
					loop: false,
					responsive:{
						0:{
							items: 1,
							margin: 0,
						},
						768:{
							items: 2,
							margin: 40,
						},
						992:{
							items: 3,
							margin: 40,
						},
						1200:{
							items: 4,
							margin: 40,
						}
					}
				});
				$('.prev').click(function(){
					newsCarousel.trigger('prev.owl.carousel');
				});
				$('.next').click(function(){
					newsCarousel.trigger('next.owl.carousel');
				});
			});
		</script>
	</div>
	
	<div class="container-fluid seo-container">
		<div class="row">
			<div class="col-12 col-lg-6 offset-lg-1">
				<%= @webpage.content.html_safe %>
			</div>
		</div>
	</div>
	
	<%= render "includes/footer" %>
