<%= render "includes/header" %>
<body>
	<%= render "includes/nav" %>
	
	<div class="container-fluid sub-hero-container">
		<% if !@webpage.main_img.blank? %>
			<div class="hero-banner">
				<img src="<%= @webpage.main_img.html_safe %>" class="banner">
				<div class="hero-text-container">
					<div class="row">
						<div class="col-10 offset-1">
							<div class="page-title">
								<div class="row">
									<div class="col-12">
										<div class="mega-text">
											<%= @webpage.page_title %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	
	<div class="container-fluid content-container">
		<div class="row">
			<div class="col-10 offset-1">
				<div class="content">
					<%= @webpage.content.html_safe %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-10 offset-1">
				<div class="content">
					<%= @webpage.content_2.html_safe %>
				</div>
			</div>
		</div>
	</div>
	
	<%= render "includes/footer" %>
