// ============ TYPOGRAPHY ============ \\
@roboto: 'Roboto', sans-serif;
@con: 'Roboto Condensed', sans-serif;
@lite: 300;
@regular: 400;
@bold: 700;

.mega-text{
	font-family: @con;
	font-weight: @bold;
	font-size: 86px;
	line-height: 86px;
	text-transform: uppercase;
}

// ============ VARIABLES ============= \\
@gray: #3e4147;
@blue: #3587c5;
@orange: #e8773a;
@green: #aed636;

html, body{
	font-family: @roboto;
	font-size: 16px;
	line-height: 32px;
	h1, h2, h3, h4, h5, h6{
		font-family: @con;
		font-weight: @lite;
	}
}

// ============ Buttons ============= \\
.clear-btn{
	position: relative;
	height: auto;
	width: auto;
	display: inline-block;
	background-color: transparent;
	border: 1px solid white;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: .05em;
	text-transform: uppercase;
	text-decoration: none !important;
	color: white;
	font-family: @con;
	font-weight: @bold;
	padding: 17px 55px;
	transition: all .35s;
	&:hover{
		cursor: pointer;
		background-color: black;
		color: white;
		border: 1px solid black;
	}
}
.clear-black-btn{
	position: relative;
	height: auto;
	width: auto;
	display: inline-block;
	background-color: transparent;
	border: 1px solid black;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: .05em;
	text-transform: uppercase;
	text-decoration: none !important;
	color: black;
	font-family: @con;
	font-weight: @bold;
	padding: 17px 55px;
	transition: all .35s;
	&:hover{
		cursor: pointer;
		background-color: black;
		color: white;
		border: 1px solid black;
	}
}
.black-btn{
	height: auto;
	width: auto;
	display: inline-block;
	color: white;
	background-color: rgba(0,0,0,1);
	padding: 18px 48px;
	font-size: 14px;
	font-weight: @bold;
	font-family: @roboto;
	text-transform: uppercase;
	letter-spacing: .1em;
	text-decoration: none;
	transition: all .35s;
	&:hover{
		background-color: rgba(0,0,0,0.7);
		color: white;
		text-decoration: none;
	}
}
.more-link{
	color: black;
	text-decoration: underline;
	&:hover{
		color: @gray;
	}
}

// ============ Random Settings ============= \\
.custom-nav{
	position: absolute;
	height: auto;
	width: 100%;
	display: block;
	top: 50%;
	transform: translateY(-50%);
	.prev{
		position: absolute;
		left: 0px;
	}
	.next{
		position: absolute;
		right: 0px;
	}
}
.gray-img{
	filter: grayscale(100%);
}

.main-nav-container{
	position: absolute;
	height: auto;
	width: 100vw;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	z-index: 9;
	@media(max-width:767px){
		position: relative;
	}
	.upper-nav{
		position: relative;
		height: auto;
		width: 100vw;
		top: 0px;
		left: 0px;
		padding: 10px 15px;
		margin: 0px;
		background-color: rgba(255,255,255, .5);
		color: black;
		@media(min-width:992px){
			text-align: right;
		}
		@media(min-width:768px) and (max-width:991px){
			text-align: center;
		}
		@media(max-width:767px){
			text-align: center;
		}
		a{
			color: inherit;
			text-decoration: none;
			transition: color .35s;
			&:hover{
				color: @gray;
			}
		}
		ul{
			padding: 0px;
			margin: 0px;
			li{
				display: inline-block;
				margin-right: 25px;
				@media(max-width:767px){
					&:last-child{
						margin-right: 0px;
					}
				}
			}
		}
		.social{
			position: relative;
			top: 1px;
			padding: 0px;
			margin: 0px;
			list-style: none;
			font-size: 20px;
			li{
				display: inline-block;
				margin-right: 15px;
				&:last-child{
					margin-right: 0px;
				}
			}
		}
	}
	.darken{
		background-color: rgba(0,0,0,0.8) !important;
		@media(max-width:767px){
			background-color: rgba(0,0,0,1) !important;
		}
	}
	.lower-nav{
		position: relative;
		height: auto;
		width: 100vw;
		top: 0px;
		left: 0px;
		padding: 25px 15px;
		margin: 0px;
		background-color: rgba(0,0,0, .5);
		color: white;
		@media(max-width:767px){
			background-color: rgba(0,0,0,1);
		}
		.logo{
			position: relative;
			display: block;
			width: 100%;
			max-width: 141px;
			height: auto;
			//margin: 0 auto;
		}
		.main-nav{
			position: relative;
			padding: 0px;
			margin: 10px 0px 0px;
			list-style: none;
			text-align: right;
			color: white;
			font-family: @con;
			font-size: 20px;
			letter-spacing: .025em;
			@media(min-width:992px) and (max-width: 1199px){
				font-size: 16px;
			}
			a{
				position: relative;
				color: inherit;
				text-decoration: none;
				text-transform: uppercase;
				padding-bottom: 5px;
				&:hover{
					&:before{
						width: 100%;
					}
				}
				&:before{
					content: '';
					position: absolute;
					bottom: 0px;
					left: 0px;
					width: 0px;
					height: 3px;
					background: white;
					transition: all .35s;
				}
			}
			li{
				display: inline-block;
				margin-right: 45px;
				@media(min-width:1200px) and (max-width: 1349px){
					margin-right: 25px;
				}
				@media(min-width:992px) and (max-width: 1199px){
					margin-right: 25px;
				}
			}
		}
		.mobile-nav-btn{
			position: relative;
			float: right;
			height: auto;
			width: auto;
			display: inline-block;
			padding-top: 5px;
			@media(min-width:992px){
				display: none;
			}
			.bar{
				position: relative;
				height: 5px;
				width: 35px;
				background: white;
				margin-top: 5px;
			}
			
			.topDown{
				animation: topDown .35s ease-in-out forwards;
			}
			.topUp{
				animation: topUp .35s ease-in-out forwards;
			}
			.midOut{
				animation: midOut .35s ease-in-out forwards;
			}
			.midIn{
				animation: midIn .35s ease-in-out forwards;
			}
			.lowUp{
				animation: lowUp .35s ease-in-out forwards;
			}
			.lowDown{
				animation: lowDown .35s ease-in-out forwards;
			}
			@keyframes topDown{
				0%{
					top: 0;
					transform: rotate(0deg);
				}
				25%{
					top: 10px;
					transform: rotate(0deg);
				}
				75%{
					top: 10px;
					transform: rotate(0deg);
					
				}
				100%{
					top: 10px;
					transform: rotate(45deg);
				}
			}
			@keyframes topUp{
				0%{
					top: 10px;
					transform: rotate(45deg);
				}
				25%{
					top: 10px;
					transform: rotate(0deg);
				}
				75%{
					top: 10px;
					transform: rotate(0deg);
					
				}
				100%{
					top: 0px;
					transform: rotate(0deg);
				}
			}
			@keyframes midOut{
				0%{
					opacity: 1;
				}
				25%{
					opacity: 1;
				}
				75%{
					opacity: 0;
				}
				100%{
					opacity: 0;
				}
			}
			@keyframes midIn{
				0%{
					opacity: 0;
				}
				25%{
					opacity: 0;
				}
				75%{
					opacity: 0;
				}
				100%{
					opacity: 1;
				}
			}
			@keyframes lowUp{
				0%{
					top: 0;
					transform: rotate(0deg);
				}
				25%{
					top: -10px;
					transform: rotate(0deg);
				}
				75%{
					top: -10px;
					transform: rotate(0deg);
					
				}
				100%{
					top: -10px;
					transform: rotate(-45deg);
				}
			}
			@keyframes lowDown{
				0%{
					top: -10px;
					transform: rotate(-45deg);
				}
				25%{
					top: -10px;
					transform: rotate(0deg);
				}
				75%{
					top: -10px;
					transform: rotate(0deg);
					
				}
				100%{
					top: 0px;
					transform: rotate(0deg);
				}
			}
		}
	}
	.mobi-nav-container{
		position: relative;
		height: 80vh;
		width: 100vw;
		top: 0px;
		left: 0px;
		text-align: center;
		padding-top: 75px;
		padding-bottom: 75px;
		display: none;
		p{
			display: block;
			animation: fadeIn .5s ease-in-out forwards;
		}
		a{
			font-size: 20px;
			line-height: 20px;
			color: white;
			text-transform: uppercase;
		}
		@keyframes fadeIn{
			0%{
				opacity: 0;
				margin-top: 100px;
			}
			100%{
				opacity: 1;
				margin-top: 0px;
			}
		}
	}
}



.hero-banner-container{
	position: relative;
	height: auto;
	width: 100vw;
	padding: 0px;
	margin: 0px;
	top: 0px;
	left: 0px;
	z-index: 1;
	.hero-banner{
		.banner{
			position: relative;
			height: auto;
			width: 100vw;
			z-index: 1;
		}
		.hero-text-container{
			position: absolute;
			height: auto;
			width: 100%;
			display: inline-block;
			text-align: center;
			top: 69%;
			left: 0px;
			transform: translateY(-35%);
			z-index: 2;
			@media(max-width:767px){
				top: 40%;
			}
			.hero-text{
				color: white;
				position: relative;
				.clear-btn{
					margin-top: 45px;
					@media(max-width:767px){
						font-size: 14px;
						line-height: 14px;
						margin-top: 10px;
					}
				}
				.mega-text{
					@media(min-width:992px) and (max-width: 1199px){
						font-size: 60px;
					}
					@media(min-width:768px) and (max-width: 991px){
						font-size: 50px;
						line-height: 50px;
					}
					@media(max-width:767px){
						font-size: 30px;
						line-height: 30px;
					}
				}
			}
		}
	}
}

.sub-hero-container{
	position: relative;
	height: auto;
	width: 100vw;
	padding: 0px;
	margin: 0px;
	top: 0px;
	left: 0px;
	z-index: 1;
	.hero-banner{
		.banner{
			position: relative;
			height: auto;
			width: 100vw;
			z-index: 1;
		}
		.hero-text-container{
			position: absolute;
			height: auto;
			width: 100%;
			display: block;
			left: 0px;
			bottom: 180px;
			z-index: 2;
			@media(min-width:1300px) and (max-width:1459px){
				bottom: 120px;
			}
			@media(min-width:1200px) and (max-width:1299px){
				bottom: 90px;
			}
			@media(min-width:992px) and (max-width:1199px){
				bottom: 30px;
			}
			@media(max-width:767px){
				top: 40%;
			}
			.row{
				margin: 0px 0px 0px -15px;
				padding: 0px;
			}
			.page-title{
				color: white;
				position: relative;
				padding-left: 10px;
				.mega-text{
					color: white;
					@media(min-width:992px) and (max-width: 1199px){
						font-size: 60px;
					}
					@media(min-width:768px) and (max-width: 991px){
						font-size: 50px;
						line-height: 50px;
					}
					@media(max-width:767px){
						font-size: 30px;
						line-height: 30px;
					}
				}
			}
			.back-link{
				text-transform: uppercase;
				font-size: 16px;
				line-height: 16px;
				letter-spacing: .1em;
				padding-bottom: 5px;
				a{
					color: white;
					text-decoration: none;
				}
			}
		}
	}
}

.callout-container{
	position: relative;
	padding: 10px 15px;
	left: 0px;
	top: 0px;
	.callout-box{
		position: relative;
		padding: 0px 5px;
		height: auto;
		width: auto;
		overflow: hidden;
		@media(max-width:767px){
			padding: 10px 0px;
		}
		&:first-child{
			padding-left: 10px;
			@media(max-width:767px){
				padding-left: 0px;
			}
		}
		&:last-child{
			padding-right: 10px;
			@media(max-width:767px){
				padding-right: 0px;
			}
		}
		.callout{
			position: relative;
			height: auto;
			width: 100%;
			margin: 0px 0px;
			padding: 0px;
			overflow: hidden;
			&:hover{
				.callout-bg{
					transform: scale(1.2);
					filter: brightness(75%);
				}
			}
			.callout-bg{
				position: relative;
				top: 0px;
				left: 0px;
				height: auto;
				max-width: 100%;
				display: block;
				transition: all .35s;
				z-index: 1;
			}
			.callout-text{
				position: absolute;
				height: auto;
				width: 100%;
				text-align: center;
				display: block;
				top: 50%;
				transform: translateY(-50%);
				font-size: 50px;
				line-height: 50px;
				letter-spacing: .025em;
				text-transform: uppercase;
				color: white;
				font-family: @con;
				font-weight: @lite;
				z-index: 2;
				@media(min-width:1200px) and (max-width:1499px){
					font-size: 40px;
					line-height: 40px;
				}
				@media(min-width:992px) and (max-width: 1199px){
					font-size: 34px;
				}
				@media(min-width:768px) and (max-width: 991px){
					font-size: 26px;
				}
				@media(max-width:767px){
					font-size: 28px;
					line-height: 28px;
				}
				.clear-btn{
					margin-top: 30px;
					@media(min-width:992px) and (max-width: 1199px){
						font-size: 16px;
					}
					@media(min-width:768px) and (max-width: 991px){
						font-size: 10px;
						margin-top: 10px;
					}
					@media(max-width:767px){
						font-size: 16px;
						line-height: 16px;
					}
				}
			}
		}
	}
}

.news-section{
	position: relative;
	padding: 75px 15px;
	background: white;
	color: black;
	h1{
		text-transform: uppercase;
		font-size: 50px;
	}
	.news-container{
		padding-top: 80px;
	}
	h3{
		font-size: 24px;
		line-height: 24px;
		text-transform: uppercase;
		font-weight: @regular;
		padding-top: 10px;
		@media(min-width:1200px) and (max-width:1499px){
			font-size: 22px;
			line-height: 22px;
		}
	}
	.custom-nav{
		top: 19%;
		@media(max-width:991px){
			display: none;
		}
		.prev{
			left: -100px;
			&:hover{
				cursor: pointer;
			}
			@media(min-width:992px) and (max-width: 1199px){
				left: -75px;
			}
		}
		.next{
			right: -70px;
			&:hover{
				cursor: pointer;
			}
			@media(min-width:992px) and (max-width: 1199px){
				right: -45px;
			}
		}
	}
	.clear-btn{
		border: 1px solid black;
		color: black;
		margin-top: 50px;
		&:hover{
			color: white;
		}
	}
}

.seo-container{
	position: relative;
	background: url(img/seo-bg.jpg) no-repeat;
	background-size: cover;
	padding: 135px 15px;
	color: white;
	.clear-btn{
		margin-top: 50px;
		@media(max-width:767px){
			font-size: 16px;
			line-height: 16px;
			width: 100%;
			text-align: center;
		}
	}
} 

.sub-content{
	position: relative;
	z-index: 3;
}

.content-container{
	position: relative;
	background: white;
	z-index: 2;
	.content{
		position: relative;
		background: white;
		padding: 30px;
		width: 100%;
		height: auto;
		@media(min-width:1460px){
			top: -160px;
		}
		@media(min-width:1200px) and (max-width:1459px){
			top: -75px;
		}
		.map-container{
			position: relative;
			height: 610px;
			width: 100%;
			#map{
				position: relative;
				height: 100%;
				width: 100%;
			}
			.info-window{
				position: relative;
				display: block;
				width: 100%;
				h3{
					font-size: 20px;
					font-weight: 900;
				}
				a{
					color: inherit;
				}
				p{
					font-size: 16px;
					line-height: 16px;
					margin: 10px 0px;
					position: relative;
					width: 85%;
				}
				&:after{
					content: '\f054';
					font-family: 'Font Awesome 5 Free';
					font-weight: 600;
					font-size: 30px;
					color: black;
					position: absolute;
					right: 5px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		.legend{
			position: relative;
			margin-top: 30px;
			text-align: center;
			ul{
				margin: 0;
				padding: 0;
				list-style: none;
				li{
					position: relative;
					display: inline-block;
					padding: 15px 30px 15px 45px;
					font-family: @con;
					font-size: 20px;
					line-height: 20px;
					letter-spacing: .025em;
					text-transform: uppercase;
					border: 1px solid white;
					transition: all .35s;
					&:hover{
						border: 1px solid #999999;
						cursor: pointer;
					}
					@media(min-width:992px) and (max-width:1199px){
						padding: 15px 20px 15px 35px;
						font-size: 18px;
					}
				} 
				.active{
					border: 1px solid #999999;
				}
				.lots, .for-sale, .for-rent, .all{
					&:before{
						left: 25px;
						top: 17px;
						@media(min-width:992px) and (max-width:1199px){
							left: 15px;
						}
					}
				}
				.all{
					&:before{
						content:'';
						height: 15px;
						width: 15px;
						background: black;
						position: absolute;
					}
				}
				.lots{
					&:before{
						content:'';
						height: 15px;
						width: 15px;
						background: @blue;
						position: absolute;
					}
				}
				.for-sale{
					&:before{
						content:'';
						height: 15px;
						width: 15px;
						background: @orange;
						position: absolute;
					}
				}
				.for-rent{
					&:before{
						content:'';
						height: 15px;
						width: 15px;
						background: @green;
						position: absolute;
					}
				}
			}
		}
		.gallery-container{
			position: relative;
			height: auto;
			width: 100%;
			display: inline-block;
			padding: 0px;
			overflow: hidden;
			.gallery-carousel{
				position: relative;
				width: 100%;
				height: auto;
				padding: 0px;
				z-index: 1;
				.item{
					position: relative;
					&:hover{
						cursor: pointer;
						img{
							filter: brightness(80%);
							position: relative;
							z-index: 1;
						}
						&:after{
							content: '\f00e';
							font-family: 'Font Awesome 5 Free';
							font-weight: 600;
							font-size: 30px;
							text-align: center;
							padding-top: 15px;
							color: white;
							position: absolute;
							z-index: 2;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							height: 60px;
							width: 60px;
							border-radius: 100px;
							background-color: rgba(0,0,0,0.6);
						}
					}
				}
			}
			.prev-container{
				position: absolute;
				top: 0px;
				left: 0px;
				height: 17.25vw;
				width: 100px;	
				background: -webkit-linear-gradient(right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 75%, rgba(0,0,0,1) 100%);
				background: -o-linear-gradient(right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 75%, rgba(0,0,0,1) 100%);
				background: linear-gradient(to left, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 75%, rgba(0,0,0,1) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#000000',GradientType=1 ); 
				z-index: 2;
				font-size: 50px;
				color: white;
				display: none;
				.prev{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			.next-container{
				position: absolute;
				top: 0px;
				right: 0px;
				height: 17.25vw;
				width: 100px;
				background: -webkit-linear-gradient(left, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 25%, rgba(0,0,0,1) 100%);
				background: -o-linear-gradient(left, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 25%, rgba(0,0,0,1) 100%);
				background: linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 25%, rgba(0,0,0,1) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#000000',GradientType=1 ); 
				z-index: 2;
				font-size: 50px;
				color: white;
				display: none;
				.next{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
		.property-details{
			position: relative;
			padding-top: 55px;
			h3{
				font-size: 24px;
				font-weight: @regular;
				font-family: @roboto;
				padding-bottom: 20px;
			}
			.plan-img{
				margin-bottom: 75px;
			}
			.black-btn{
				position: relative;
				margin-bottom: 40px;
				.fas{
					font-size: 18px;
					position: relative;
					margin-right: 7px;
					top: 2px;
				}
			}
			.detail-list{
				padding: 0px 15px;
				list-style: none;
				li{
					position: relative;
					display: block;
					color: #474747;
					font-size: 18px;
					line-height: 20px;
					padding-top: 12px;
					padding-bottom: 12px;
					&:before{
						content: '';
						height: 5px;
						width: 5px;
						border-radius: 15px;
						background: #474747;
						position: absolute;
						left: -15px;
						top: 18px;
					}
				}
			}
		}
		.news{
			.news-body{
				a{
					color: inherit;
				}
			}
		}
		.contact-form{
			.form-field{
				position: relative;
				height: 40px;
				width: 100%;
				border: 1px solid black;
				color: black;
				font-size: 18px;
				margin-bottom: 25px;
				padding-left: 15px;
			}
			.form-area{
				position: relative;
				height: 200px;
				width: 100%;
				border: 1px solid black;
				color: black;
				font-size: 18px;
				margin-bottom: 25px;
				padding-left: 15px;
			}
			.captcha-container{
				height: 75px;
				width: 310px;
				background-color: rgba(0,0,0,0.6);
				color: white;
			}
			.clear-black-btn{
				letter-spacing: .2em;
				@media(min-width:992px){
					float: right;
				}
			}
		}
		.contact-content{
			position: relative;
			padding-bottom: 50px;
		}
		.contact-content-2{
			position: relative;
			padding-top: 100px;
		}
	}
	
	.properties{
		position: relative;
		margin-top: 95px;
		.col-12{
			@media(min-width:992px){
				&:after{
					content: '';
					height: 100%;
					width: 1px;
					background: #CCC;
					position: absolute;
					top: 0px;
					right: 5.5vw;
				}
				&:last-child{
					&:after{
						content: '';
						height: 0px;
						width: 0px;
						background: white;
					}
				}
			}
		}
		.property-type{
			h3{
				font-size: 28px;
				line-height: 28px;
				text-transform: uppercase;
				position: relative;
				text-align: center;
				font-family: @con;
				font-weight: @regular;
				display: inline-block;
				padding-left: 25px;
				@media(min-width:992px) and (max-width:1199px){
					font-size: 22px;
					line-height: 22px;
					padding-left: 25px;
				}
			}
			.lots{
				&:before{
					content:'';
					height: 15px;
					width: 15px;
					background: @blue;
					position: absolute;
					left: 0px;
					top: 6px;
				}
			}
			.for-sale{
				&:before{
					content:'';
					height: 15px;
					width: 15px;
					background: @orange;
					position: absolute;
					left: 0px;
					top: 6px;
				}
			}
			.for-rent{
				&:before{
					content:'';
					height: 15px;
					width: 15px;
					background: @green;
					position: absolute;
					left: 0px;
					top: 6px;
				}
			}
		}
		.property-list{
			padding-left: 25px;
			color: #666666;
			font-family: @roboto;
			font-weight: @bold;
			position: relative;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: .025em;
			@media(min-width:992px) and (max-width:1199px){
				padding-left: 10px;
			}
			ul{
				list-style: none;
				margin: 0px;
				padding: 0px;
				li{
					padding-top: 55px;
				}
			}
			a{
				color: black;
				font-family: @roboto;
				font-weight: @bold;
				text-decoration: underline;
				position: relative;
				font-size: 16px;
				line-height: 24px;
				letter-spacing: .025em;
				&:after{
					content: '>';
					position: absolute;
					right: -12px;
					top: -3px;
				}
			}
			.gray-text{
				font-weight: @lite;
			}
		}
	}
}

.contact-container{
	position: relative;
	height: auto;
	width: auto;
	color: white;
	background: url(img/contact-bg.jpg) no-repeat;
	background-size: cover; 
	padding: 165px 15px;
	a{
		color: inherit;
		text-decoration: none;
	}
	h2{
		padding: 15px 0px;
	}
}

.footer-links{
	position: relative;
	width: 100%;
	height: auto;
	background: black;
	color: white;
	padding: 40px 15px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-family: @con;
	line-height: 20px;
	letter-spacing: .025em;
	@media(min-width:768px) and (max-width:991px){
		font-size: 16px;
	}
	ul{
		padding: 0px;
		margin: 0px;
		list-style: none;
		li{
			display: inline-block;
			margin-right: 50px;
			&:last-child{
				margin-right: 0px;
			}
			@media(min-width:768px) and (max-width:991px){
				margin-right: 35px;
			}
			@media(max-width:767px){
				display: block;
				margin-right: 0px;
				border-bottom: 1px solid white;
				padding-top: 14px;
				padding-bottom: 10px;
				&:last-child{
					border-bottom: none;
				}
			}
		}
		a{
			text-decoration: none;
			position: relative;
			display: block;
			height: auto;
			width: auto;
			color: white;
			padding-bottom: 5px;
			&:before{
				content:'';
				position: absolute;
				bottom: 0px;
				height: 3px;
				width: 0px;
				background: white;
				transition: all .35s;
			}
			&:hover{
				&:before{
					width: 100%;
					@media(max-width:767px){
						width: 0px;
					}
				}
			}
		}
	}
}

.footer-bottom{
	height: auto;
	padding: 30px 15px 50px;
	background: @gray;
	color: white;
	@media(min-width:768px) and (max-width:991px){
		text-align: center;
	}
	@media(max-width:767px){
		text-align: center;
	}
	a{
		color: white;
		text-decoration: none;
	}
	.footer-social{
		padding: 0px 15px;
		margin: 0px;
		list-style: none;
		text-align: right;
		font-size: 25px;
		@media(min-width:768px) and (max-width:991px){
			text-align: center;
			padding-top: 50px;
		}
		@media(max-width:767px){
			text-align: center;
			padding-top: 30px;
		}
		li{
			display: inline-block;
			margin-right: 15px;
			&:last-child{
				margin-right: 0px;
			}
		}
	}
	.copy{
		font-size: 14px;
		padding-top: 100px;
		@media(min-width:768px) and (max-width:991px){
			padding-top: 50px;
		}
		@media(max-width:767px){
			padding-top: 20px;
		}
	}
}

.g-modal-container{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	z-index: 9999;
	display: none;
	.g-modal-content{
		position: absolute;
		height: auto;
		width: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		.g-modal-close{
			color: white;
			font-size: 30px;
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: 2;
			opacity: 0.7;
			transition: all .35s;
			&:hover{
				cursor: pointer;
				opacity: 1;
			}
		}
		.g-next, .g-prev{position: absolute;color:white;font-size:40px;}
		.g-next{right: -50px;top:50%;transform:translateY(-50%);}
		.g-prev{left: -50px;top:50%;transform:translateY(-50%);}
		.g-carousel{
			position: relative;
			height: auto;
			width: auto;
			//display: block;
			z-index: 1;
			.item{
				position: relative;
				img{
					position: relative;
					display: block;
					max-width:100%;
				}
			}
		}
	}
	.g-modal-bg{
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100vh;
		width: 100vw;
		background-color: rgba(0,0,0,0.7);
		z-index: 1;
	}
}

// =========== Bootstrap Edits ============= \\
.container{
	@media(min-width:1340px) and (max-width:1440px){
		width:1300px;
		height: auto;
		display: block;
		margin: 0 auto;
	}
	@media(min-width:1441px) and (max-width:1540px){
		width:1400px;
		height: auto;
		display: block;
		margin: 0 auto;
	}
	@media(min-width:1541px) and (max-width:1640px){
		width:1500px;
		height: auto;
		display: block;
		margin: 0 auto;
	}
	@media(min-width:1641px) and (max-width:1740px){
		width:1600px;
		height: auto;
		display: block;
		margin: 0 auto;
	}
	@media(min-width:1741px){
		width:1700px;
		height: auto;
		display: block;
		margin: 0 auto;
	}
}
.offset-lg-half{
	@media(min-width:1200px){
		margin-left: 5%;
	}
}
