<div class="container-fluid footer-links">
		<div class="row">
			<div class="col-12">
				<ul>
					<li><a href="">home</a></li>
					<li><a href="">portfolio</a></li>
					<li><a href="">about our team</a></li>
					<li><a href="">investor relations</a></li>
					<li><a href="">news</a></li>
					<li><a href="">contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="container-fluid footer-bottom">
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-3 offset-lg-1">
				1551 Valley West Drive<br>
				West Des Moines, IA 50266
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				Phone: <a href="515-555-1212">515-555-1212</a><br>
				Fax: 515-555-2121
			</div>
			<div class="col-12 col-lg-5 footer-social">
				<ul>
					<li><a href=""><span class="fab fa-facebook-square"></span></a></li>
					<li><a href=""><span class="fab fa-twitter"></span></a></li>
					<li><a href=""><span class="fab fa-linkedin"></span></a></li>
					<li><a href=""><span class="fab fa-pinterest"></span></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<div class="copy">
					Copyright &copy; <%= Time.now.year %> GroUp Development, Inc.
				</div>
			</div>
		</div>
	</div>
</body>
</html>