<!doctype html>
<html lang="en">
<head>
   <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="description" content="<%= @webpage.meta_des %>">

   	<link rel="shortcut icon" href="/favicon.ico">
   	<meta name="apple-mobile-web-app-title" content="GroUp Development">
   	<link rel="mask-icon" href="mask-icon.svg" color="#E53333">
   	<link rel="apple-touch-icon" href="/apple-touch-icon.png">	
   	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
   	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
   	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
   	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
   	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
   	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
   	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
   	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
   	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
   	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
   	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
   	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
   	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
   	<link rel="manifest" href="/manifest.json">
   	<meta name="msapplication-TileColor" content="#ffffff">
   	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
   	<meta name="theme-color" content="#ffffff">

   <!--<title><%= @webpage.meta_key %></title>-->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/presents/group/designs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  
  <link href="/presents/group/designs/stylesheets/layout.css" rel="stylesheet" type="text/css">
  <link href="/presents/group/designs/stylesheets/owl.carousel.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:400,700" rel="stylesheet"> 

  <script src="/presents/group/designs/javascripts/jquery.js"></script>
  <script src="/presents/group/designs/javascripts/parallax.js"></script>
  <script src="/presents/group/designs/javascripts/owl.carousel.min.js"></script>
  <script src="/presents/group/designs/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/presents/group/designs/javascripts/parallax.js"></script>

  <!-- google analytics code for website
  <% if !@website.web_analytics_id.blank? %>
    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= @website.web_analytics_id %>', 'auto');
      ga('send', 'pageview');

    </script>
  <% end %>
   -->
  <!-- GA code for webpage ends -->
  <!-- Full Tracking code for website
  <% if !@website.full_website_code.blank? %>
    <%= @website.full_website_code.html_safe %>
     -->
    <!-- Full Tracking code for website ENDS 
  <% end %>
   -->
  <!-- Full Tracking code for webpage 
  <% if !@webpage.full_tracking_code.blank? %>
    <%= @webpage.full_tracking_code.html_safe %>
    <!-- Full Tracking code for webpage ENDS 

  <% end %>
   -->
  <script src="https://www.google.com/recaptcha/api.js"></script>
</head>