<div class="container-fluid main-nav-container">
		<div class="row upper-nav">
			<div class="col-12 col-xl-9 offset-xl-3">
				<ul>
					<li>
						<% if !@property.display_address_1.blank? || !@property.display_address_2.blank? %>
							<a href="https://www.google.com/maps/dir//<%= @property.display_address_1 %> <%= @property.display_address_2 %>" target="_blank">
								<span class="d-none d-lg-block"><%= @property.display_address_1 %> <%= @property.display_address_2 %></span>
								<span class="d-block d-lg-none"><span class="fas fa-map-marker-alt"></span></span>
							</a>
						<% else %>
							<a href="https://www.google.com/maps/dir//<%= @property.postal_address_1 %> <%= @property.postal_address_2 %>, <%= @property.postal_city_name %>, <%= @property.postal_state_name %> <%= @property.postal_zipcode %>" target="_blank">
								<span class="d-none d-lg-block"><%= @property.postal_address_1 %> <%= @property.postal_address_2 %>, <%= @property.postal_city_name %>, <%= @property.postal_state_name %> <%= @property.postal_zipcode %>
								</span>
								<span class="d-block d-lg-none"><span class="fas fa-map-marker-alt"></span></span>
							</a>
						<% end %>
					</li>
					<li>
						<span  class="d-none d-lg-block">Phone: <strong><a href="tel:<%= @property.main_phone %>"><%= @property.main_phone %></a></strong></span>
						<span class="d-block d-lg-none"><span class="fas fa-phone"></span></span> 
					</li>
					<li>
						<ul class="social">
							<% if @property.facebook_url.present? %>
								<li><a href="<%= @property.facebook_url %>" target="_blank"><span class="fab fa-facebook-square"></span></a></li>
							<% end %>
							<% if @property.tweeter_name.present? %>
								<li><a href="<%= @property.tweeter_name %>" target="_blank"><span class="fab fa-twitter"></span></a></li>
							<% end %>
							<li><a href=""><span class="fab fa-linkedin" target="_blank"></span></a></li>
							<% if @property.pinterest_url.present? %>
								<li><a href="<%= @property.pinterest_url %>" target="_blank"><span class="fab fa-pinterest"></span></a></li>
							<% end %>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="row lower-nav">
			<div class="col-8 col-lg-3">
				<img src="/presents/group/designs/images/logo.png" alt="GroUp Development" class="img-fluid logo">
			</div>
			<div class="col-4 col-lg-9">
				<ul class="main-nav d-none d-lg-block">
					<li><a href="">home</a></li>
					<li><a href="">portfolio</a></li>
					<li><a href="">about our team</a></li>
					<li><a href="">investor relations</a></li>
					<li><a href="">news</a></li>
					<li><a href="">contact</a></li>
				</ul>
				<div class="mobile-nav-btn">
					<div class="bar top-bar"></div>
					<div class="bar mid-bar"></div>
					<div class="bar low-bar"></div>
				</div>
				<script>
					$(document).ready(function(){
						var mobiBtn = $('.mobile-nav-btn');
						var top = $('.top-bar');
						var mid = $('.mid-bar');
						var low = $('.low-bar');
						var isOpen = '';
						mobiBtn.click(function(){
							if(isOpen<2){
								top.addClass('topDown');
								top.removeClass('topUp');
								mid.addClass('midOut');
								mid.removeClass('midIn');
								low.addClass('lowUp');
								low.removeClass('lowDown');
								$('.mobi-nav-container').show();
								$('.lower-nav').addClass('darken');
								isOpen++;
							}else{
								top.addClass('topUp');
								top.removeClass('topDown');
								mid.addClass('midIn');
								mid.removeClass('midOut');
								low.addClass('lowDown');
								low.removeClass('lowUp');
								$('.mobi-nav-container').slideUp();
								$('.lower-nav').removeClass('darken');
								isOpen--;
							}
						});
					});
				</script>
			</div>
			<div class="mobi-nav-container">
				<p><a href="">Home</a></p>
				<p><a href="">portfolio</a></p>
				<p><a href="">about our team</a></p>
				<p><a href="">investor relations</a></p>
				<p><a href="">news</a></p>
				<p><a href="">contact</a></p>
			</div>
		</div>
	</div>