	<div class="container-fluid content-container">
		<div class="row">
			<div class="col-10 offset-1">
				<div class="content">
					<div class="map-container">
						<div id="map"></div>
						<script>
							var map;
							  function initMap() {
								map = new google.maps.Map(document.getElementById('map'), {
								  zoom: 11,
								  center: new google.maps.LatLng(41.61631,-93.668051),
								  mapTypeId: 'roadmap',
								  styles: [{"featureType":"all","elementType":"all","stylers":[{"saturation":-100},{"gamma":0.5}]}]
								});

								var iconBase = '/presents/group/designs/images/markers/';
								var icons = {
								  lots: {
									icon: iconBase + 'blue.png'
								  },
								  forSale: {
									icon: iconBase + 'orange.png'
								  },
								  forRent: {
									icon: iconBase + 'green.png'
								  }
								};

								var features = [
								  {
									position: new google.maps.LatLng(41.613923, -93.815853),
									type: 'lots'
								  }, {
									position: new google.maps.LatLng(41.632894, -93.695931),
									type: 'lots'
								  }, {
									position: new google.maps.LatLng(41.635306, -93.760276),
									type: 'forSale'
								  }, {
									position: new google.maps.LatLng(41.624362, -93.603064),
									type: 'forSale'
								  }, {
									position: new google.maps.LatLng(41.655648, -93.532939),
									type: 'forRent'
								  }, {
									position: new google.maps.LatLng(41.579958, -93.698580),
									type: 'forRent'
								  }
								];
								// Create markers.
								features.forEach(function(feature) {
								  var marker = new google.maps.Marker({
									position: feature.position,
									icon: icons[feature.type].icon,
									map: map
								  });
								});
							  }


						</script>
						<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWraLccH6kCNiV5fIwZYffIZyuIGlYi_Y&callback=initMap"></script>
					</div>
					<div class="legend">
						<ul>
							<li class="active all">all</li>
							<li class="lots">Lots for sale</li>
							<li class="for-sale">Properties for sale</li>
							<li class="for-rent">Properties for rent</li>
						</ul>
					</div>
					<div class="properties">
						<div class="row">
							<div class="col-12 col-lg-4 offset-lg-half">
								<div class="property-type">
									<h3 class="lots">lots for sale</h3>
								</div>
								<div class="property-list">
									<ul>
										<li>
											<a href="">Property Development Name</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
										<li>
											<a href="">Property Development Name</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
										<li>
											<a href="">Property Development Name</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
										<li>
											<a href="">Property Development Name</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-12 col-lg-4">
								<div class="property-type">
									<h3 class="for-sale">properties for sale</h3>
								</div>
								<div class="property-list">
									<ul>
										<li>
											<a href="">123 Main Street</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
										<li>
											<a href="">123 Main Street</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
										<li>
											<a href="">123 Main Street</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
										<li>
											<a href="">123 Main Street</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-12 col-lg-3">
								<div class="property-type">
									<h3 class="for-rent">properties for rent</h3>
								</div>
								<div class="property-list">
									<ul>
										<li>
											<a href="">123 Main Street</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
										<li>
											<a href="">123 Main Street</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
										<li>
											<a href="">123 Main Street</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
										<li>
											<a href="">123 Main Street</a><br>
											<span class="gray-text">City Name, IA</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>